/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

html, body {
   height: 100%; 
   margin: 0;
}

body, .app-background {
    background-image: url(./assets/bg-striped.png);
}

.form-field-container {
  display: flex;
  flex-direction: column;
}

.form-field-container mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.form-field-container mat-form-field:last-child {
    margin-bottom: 0;
}

.logo-img {
    width: 80px;
    height: 40px;
}

.img-label {
    display: flex;
    align-items: center;
}

.warn-color {
    color: #f44336;
}

h2.dialog-title-container {
    display: flex;
    align-items: center;
}

.pointerCursor:hover, .hover-tile:hover {
    cursor: pointer;
}

.hover-tile:hover {
background-color: lightgrey;
}

#tariff-header .mat-card-header-text {
     width: 100%;
    }

    .mat-fab-buttom-right {
        top: auto !important;
        right: 20px !important;
        bottom: 10px !important;
        left: auto !important;
        position: fixed !important;
    }

    .spinner {
        display: block;
        margin-top: 2em;
        margin-right: auto;
        margin-left: auto;
        width: 4em;
        height: 4em;
      padding: 7px;
        border: 1px solid #ccc;
        border-radius: 50%;
        transform: scale(.7);
    }
    
    .medium {
      transform: scale(1)
    }
    
    .large {
      margin-top: 4em;
      transform: scale(1.5)
    }
    
    .spinner-wrapper {
        position: relative;
        width: 4em;
        height: 4em;
        border-radius: 100%;
        left: calc(50% - 2em);
    }
    
    .spinner-wrapper::after {
        content: "";
        background: #fff;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        position: absolute;
        top: 0.5em;
        left: 0.5em;
    } 
    
    .rotator {
        position: relative;
        width: 4em;
        border-radius: 4em;
        overflow: hidden;
        animation: rotate 2000ms infinite linear;
    }
    
    .rotator:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #3F51B5;
        border: 3px solid #fff;
        border-radius: 100%;
    }
    
    .inner-spin {
        background: #fff;
        height: 4em;
        width: 2em;
    }
    
    .inner-spin {
        animation: rotate-left 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
        border-radius: 2em 0 0 2em;
        transform-origin: 2em 2em;
    }
    
    .inner-spin:last-child {
        animation: rotate-right 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
        margin-top: -4em;
        border-radius: 0 2em 2em 0;
        float: right;
        transform-origin: 0 50%;
    }
    
    @keyframes rotate-left {
        60%, 75%, 100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes rotate-right {
        0%, 25%, 45% {
            transform: rotate(0);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }

    .loading {
        position: fixed;
        z-index: 999;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      
  .mat-menu-avatar-panel {
    max-width: 1000px !important;
}

div.mat-card-header-text {width: 100%;}


/* select colors */

.status-select-padding {
padding: 7px 0 7px 5px;
}

.status-select-padding .mat-select-value {
    color: white;
}

/* OPEN */
.status-select-blue{
    background: #568dd5;
    }

    /* DECIDED */
.status-select-bisque {
    background: #f1b02b;
    }

        /* NECESSARYTEST */
.status-select-lightgreen {
    background: #8eb15a;
    }

/* CLOSED */
.status-select-turquoise {
background: #3cccc6;
}

.trancate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* solution file uploader */
  .my-fileupload {
      margin-top: 15px;
  }
  .my-fileupload .ui-fileupload-files {
      width: 100%;
  }

  /* .my-fileupload .ui-fileupload-content {
      height: 300px;

  } */

  .my-fileupload .file-upload-item:last-child {
      margin-bottom: 0;
  }