<mat-sidenav-container class="app-background" style="margin: 0 -5%;">
  <mat-sidenav #sidenav mode="side" opened="true" fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list>
      <mat-list-item *ngFor="let element of sidenavNavElements">
        <mat-icon matListIcon>{{element.matIcon}}</mat-icon>
        <a matLine [routerLink]="element.link">
          <h3>{{element.title}}</h3>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="mat-typography">
       <!-- <button mat-raised-button color="accent" [title]="sidenav.opened ? 'Свернуть' : 'Развернуть'" (click)="sidenav.toggle()"
      class="toggle-sidenav-container">
      <mat-icon>{{sidenav.opened ? 'arrow_back' : 'arrow_forward'}}</mat-icon>
    </button> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>