<mat-toolbar class="mat-toolbar-single-row" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="flex: 1 1 auto;">Проекты</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openAddProjectDialog()">
            <mat-icon>add</mat-icon>
            <span>Добавить проект</span>
        </button>
    </mat-menu>
    <!-- <img mat-card-image src="../../assets/logo.png" alt="Bug Tracker Logo" height="40" width="60"> -->
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">Sidenav content</mat-sidenav>
    <mat-sidenav-content style="padding: 10px;">
        <app-project-list #projectList></app-project-list>
    </mat-sidenav-content>
</mat-sidenav-container>