<form [formGroup]='editProjectForm' (ngSubmit)="editProject()" novalidate>
    <h2 mat-dialog-title>Редактировать проект</h2>

    <mat-dialog-content class="form-field-container">
            <app-project-title-input [form]="editProjectForm" [initValue]="project.Title"></app-project-title-input>
            <app-project-start-end-dates-input [form]="editProjectForm" [startDateInitValue]="project.DateStart" [endDateInitValue]="project.DateEnd"></app-project-start-end-dates-input>
            <app-project-description-input [form]="editProjectForm" [initValue]="project.Description"></app-project-description-input>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="null">Отмена</button>
        <button mat-raised-button color="primary" [disabled]="!editProjectForm.valid" type="submit">Обновить проект</button>
    </mat-dialog-actions>
</form>