<form [formGroup]='confirmPasswordForm' (ngSubmit)="enterConfirmPassword()" novalidate>
  <h2 mat-dialog-title>Введите пароль, который будете использовать для входа в систему</h2>
<h3>Email для входа в систему: {{this.data.Email}}</h3>
  <mat-dialog-content class="form-field-container">
      <mat-form-field hintLabel="Длина пароля должна быть не менее 6 символов, включая цифры, латинские буквы в верхнем и нежнем регистре, а также не буквенно-цифровые символы">
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Пароль" formControlName='Password' required>
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="pointerCursor">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="password.hasError('required')">
          Обязательно введите пароль
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          Длина пароля должна быть не менее {{ password.errors.minlength.requiredLength }} символов. Вы ввели {{ password.errors.minlength.actualLength
          }} символа
        </mat-error>
        <mat-error *ngIf="password.hasError('nonLetterOrDigit')">
          {{password.errors.nonLetterOrDigit}}
        </mat-error>
        <mat-error *ngIf="password.hasError('requireDigit')">
          {{password.errors.requireDigit}}
        </mat-error>
        <mat-error *ngIf="password.hasError('requireLowercase')">
          {{password.errors.requireLowercase}}
        </mat-error>
        <mat-error *ngIf="password.hasError('requireUppercase')">
          {{password.errors.requireUppercase}}
        </mat-error>
        <mat-error *ngIf="password.hasError('pattern')">
          В пароле допускаются только латинские буквы
        </mat-error>
      </mat-form-field>

      <mat-form-field style="margin-top: 35px;">
        <input matInput [type]="hidePConfirm ? 'password' : 'text'" placeholder="Подтвердите пароль" formControlName='ConfirmPassword'
          required>
        <mat-icon matSuffix (click)="hidePConfirm = !hidePConfirm" class="pointerCursor">{{hidePConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="confirmPassword.hasError('required')">
          Обязательно введите подтверждение пароля
        </mat-error>
        <mat-error *ngIf="confirmPassword.hasError('equalpassword') && !confirmPassword.hasError('required')">
          {{confirmPassword.errors.equalpassword}}
        </mat-error>
      </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-raised-button color="primary" [disabled]="!confirmPasswordForm.valid" type="submit">Подтвердить</button>
  </mat-dialog-actions>
</form>