.app-navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}


.avatar-button {
    background-image: url(../../assets/logo.png);
    background-size: cover;
    background-position: center; 
}

.img__overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
    background-color: rgba(46,204,113,0.4);
    background: linear-gradient(65deg, rgba(46,204,113,0.4), rgba(243,156,18,0.4));
    color: #fafafa;
    font-size: 18px;
    border-radius: 50%;
  }

  .img__overlay:hover {
    opacity: 1;
    cursor: pointer;
  }

  .avatar-menu-circle {
    position: relative;
    height: 80px;
    width: 80px;
  }