<app-navbar *ngIf="authService.isLoggedIn" titleApp="BugTracker"></app-navbar>
<div *ngIf="projects.length === 0" style="margin: 10% 0;">
    <span class="mat-h1">В Ваше портале отсутствуют проекты. Нажмите кнопку для создания первого проекта</span>&nbsp;
    <button mat-raised-button color="accent" (click)="openAddProjectDialog()">Создать проект</button>
</div>
<div class="mat-elevation-z5 table-container" [hidden]="!(projects.length > 0)">

    <p-table #projectsTable (onRowSelect)="onRowSelect($event)" [responsive]="true" [columns]="cols" selectionMode="single" [value]="projects"
        [paginator]="true" [rows]="10">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" colspan="2" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th colspan="1"></th>
                <th colspan="1"></th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" colspan="2">
                    <input *ngSwitchCase="'Title'" pInputText type="text" (input)="projectsTable.filter($event.target.value, col.field, col.filterMatchMode)">
                </th>
                <TH colspan="2"></TH>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
            <tr [pSelectableRow]="project">
                <td colspan="2">{{ (project.Title.length > 50) ? (project.Title | slice:0:50)+'...' : (project.Title) }}</td>
                <td colspan="2">
                    <div class="error-statistics-container" [matTooltip]="project.ErrorStatistics.ClosedErrorCount + ' решено из ' + project.ErrorStatistics.Total">
                        <span class="error-statistics-progress" [style.width.%]="project.ErrorStatistics.ProgressPercentage">
                        </span>
                        <span [style.width.%]="100 - project.ErrorStatistics.ProgressPercentage">
                        </span>
                        <span class="error-statistics-percent-text">
                            {{project.ErrorStatistics.ProgressPercentage}}%
                        </span>
                    </div>
                </td>
                <td colspan="2">{{ project.DateStart | date:'longDate' }}</td>
                <td colspan="2">{{ project.DateEnd | date:'longDate' }}</td>
                <td colspan="1">
                    <button mat-icon-button matTooltip="Редактировать" (click)="openEditProjectDialog($event, project)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
                <td colspan="1">
                    <button mat-icon-button matTooltip="Удалить" (click)="openDeleteProjectDialog($event, project)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <button *ngIf="authService.isPortalOwner" mat-fab class="mat-fab-buttom-right" (click)="openAddProjectDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>