<form [formGroup]='addProjectForm' (ngSubmit)="addProject()" novalidate>
    <h2 mat-dialog-title>Добавить проект</h2>

    <mat-dialog-content class="form-field-container">
        <app-project-title-input [form]="addProjectForm"></app-project-title-input>
        <app-project-start-end-dates-input [form]="addProjectForm"></app-project-start-end-dates-input>
        <app-project-description-input [form]="addProjectForm"></app-project-description-input>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Отмена</button>
        <button mat-raised-button type="submit" color="primary" [disabled]="!addProjectForm.valid">Добавить проект</button>
    </mat-dialog-actions>
</form>