<form [formGroup]='addErrorForm' (ngSubmit)="addError()" novalidate>
  <h2 mat-dialog-title>Добавить ошибку</h2>

  <mat-dialog-content class="form-field-container">
    <app-error-title-input [form]="addErrorForm"></app-error-title-input>
    <app-error-description-input [form]="addErrorForm"></app-error-description-input>
    <app-error-priority-select [form]="addErrorForm"></app-error-priority-select>
    <app-error-classification-select [form]="addErrorForm"></app-error-classification-select>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-raised-button color="primary" [disabled]="!addErrorForm.valid" type="submit">Добавить ошибку</button>
  </mat-dialog-actions>
</form>