:host {
  display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}


.avatar-button {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center; 
}

.img__overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
    background-color: rgba(204, 46, 178, 0.4);
    background: linear-gradient(65deg, rgba(46,204,113,0.4), rgba(243,156,18,0.4));
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    border-radius: 50%;
  }

  .img__overlay:hover {
    opacity: 1;
    cursor: pointer;
  }

  .avatar-menu-circle {
    position: relative;
    height: 80px;
    width: 80px;
  }

  .active-link {
    background-color: #c5cae9;
    color: black;
  }




  @media only all {
    a.adaptive-toolbar
 {
        display: none;
    }
}

@media screen and (min-width: 480px) {
  a.adaptive-toolbar {
      display: block;
  }
}