<mat-toolbar class="mat-toolbar-single-row mat-elevation-z5 app-navbar" color="primary">

  <span style="flex: 1 1 50%;">
      <button *ngIf="sidenav != null" mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
    <a mat-button routerLink="/" matTooltip="Главная" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
      true}">
      <img src="../../assets/logo.png" alt="Bug Tracker Logo" height="26" width="50">
      <span class="mat-title">{{titleApp}}</span>
    </a>
    <a mat-button *ngFor="let link of navbarElements" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
      true}" [routerLink]="['/app', link.routerLink]" [matTooltip]="link.tooltipTitle">
      <span class="mat-title">{{link.title}}</span>
    </a>
  </span>
  <button mat-icon-button [matMenuTriggerFor]="accountMenu" [matMenuTriggerData]="authService.currentUser" [matTooltip]="authService.currentUser?.Email"
    class="avatar-button" matTooltipPosition="left" [style.background-image]="getUriAvatar">
  </button>
</mat-toolbar>

<mat-menu #accountMenu [overlapTrigger]="false" class="mat-menu-avatar-panel">
  <ng-template matMenuContent let-Email="Email">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <div mat-card-avatar class="avatar-button avatar-menu-circle" [style.background-image]="getUriAvatar" (click)="openUploadUserPhotoDialog()">
          <div class="img__overlay">Изменить</div>
        </div>
        <mat-card-title>
          <h2>{{Email | getUserNameFromEmail}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
          <h3>{{Email}}</h3>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions align="end">
        <a mat-raised-button routerLink="/app/portals">Мои порталы</a>
        <button mat-raised-button color="primary" (click)="logout()">Выйти</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</mat-menu>

<!-- https://stackoverflow.com/questions/38209713/how-to-make-a-responsive-nav-bar-using-angular-material-2 -->