<mat-card>
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title><h1>Здравствуйте, <strong>{{authService.currentUser.Email}}</strong></h1></mat-card-title>
    <mat-card-subtitle>
      <h3>Выберите портал, в который Вы хотите войти</h3>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="100px" gutterSize="20px">
      <mat-grid-tile *ngFor="let portal of portalDataSource.Portals" [colspan]="1" [rowspan]="1" class="mat-elevation-z5 hover-tile" (click)="onClickPortal($event, portal.Id)">
        <div class="img-label">
          <img src="../../../assets/logo.png" alt="Bug Tracker Logo" class="logo-img">
          <h2>{{portal.Title}}</h2>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>