.mat-typography mat-header-cell h3 {
    margin: 0;
}

mat-row:hover {
    cursor: pointer;
    /* background-color: snow; */
}

.mat-fab-buttom-right {
    top: auto !important;
    right: 20px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;
}

/* :host {
    margin: 0 5%;
} */