<form [formGroup]='addProjectForm' (ngSubmit)="addProject()" novalidate>
    <h2 mat-dialog-title>Добавить проект</h2>

    <mat-dialog-content class="form-field-container">
        <mat-form-field>
            <input matInput type="text" name="projectName" placeholder="Название проекта" required minlength='3' formControlName='title'
                appInputAutofocus>
            <mat-error *ngIf="title.hasError('required')">
                Обязательно введите название проекта
            </mat-error>
            <mat-error *ngIf="title.hasError('pattern')">
                Название проекта содержит недопустимые символы. Допустимы буквы от А до Я (строчные и прописные), цифры от 0 до 9, знак тире
                (-), подчёркивания (_) и пробела
            </mat-error>
            <mat-error *ngIf="title.hasError('minlength') && !title.hasError('pattern')">
                Название проекта должно быть больше {{ title.errors.minlength.requiredLength }} символов. Вы ввели {{ title.errors.minlength.actualLength
                }} символа
            </mat-error>
            <mat-error *ngIf="title.hasError('maxlength') && !title.hasError('pattern')">
                Название проекта должно быть меньше {{title.errors.maxlength.requiredLength }} символов
            </mat-error>

        </mat-form-field>


        <div formGroupName="datepickerGroup" class="horizontal-flex-container-for-two-datepicker">
            <mat-form-field>
                <input matInput [matDatepicker]="startDatepicker" placeholder="Дата начала" formControlName='dateStart' required (dateChange)="dateChangeEvent($event)">
                <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatepicker></mat-datepicker>
                <mat-error *ngIf="dateStart.hasError('required') && !dateStart.hasError('matDatepickerParse')">
                    Обязательно введите дату начала проекта
                </mat-error>
                <mat-error *ngIf="dateStart.hasError('matDatepickerParse')">
                    Неправильная дата
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="endDatepicker" placeholder="Дата окончания" formControlName='dateEnd' [min]="endDateIncrement"
                    required (dateChange)="dateChangeEvent($event)">
                <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatepicker></mat-datepicker>
                <mat-error *ngIf="dateEnd.hasError('required') && !dateEnd.hasError('matDatepickerParse')">
                    Обязательно введите дату начала проекта
                </mat-error>
                <mat-error *ngIf="dateEnd.hasError('matDatepickerParse')">
                    Неправильная дата
                </mat-error>
                <mat-error *ngIf="dateEnd.hasError('endDateError')">
                    Установите дату большую или равную {{dateStart.value | date:'longDate'}}
                </mat-error>
            </mat-form-field>
        </div>
        <mat-error *ngIf="datepickerGroup.hasError('groupdate')">
            {{datepickerGroup.errors.groupdate.errorMsg}}
        </mat-error>

        <quill-editor formControlName='description' placeholder="Введите описание проекта" [minLength]="10" [required]="true" [style]="{height: '250px'}" (onContentChanged)="contentChange($event);" [modules]="modules"></quill-editor>
        <mat-error *ngIf="description.hasError('required')">
            Обязательно введите описание проекта
        </mat-error>
        <mat-error *ngIf="textContent.length-1 < 10 && !description.hasError('required')">
            <!-- {{ description.errors.minlength.requiredLength }} -->
            <!-- {{ description.errors.minlength.actualLength }} -->
           
            Описание проекта должно должно содержать не менее 10 символов. Вы ввели {{textContent.length-1}}  символа 
        </mat-error>
        {{textContent}}
        <!-- <mat-error *ngIf="description.hasError('pattern')">
            Описание проекта содержит недопустимые символы. Допустимы буквы от А до Я (строчные и прописные), цифры от 0 до 9, знак тире
            (-), подчёркивания (_), запятой и пробела
        </mat-error> -->

        <!-- <mat-form-field>
            <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-control" name="projectDesc"
                id="descriptionProjectTextarea" rows="5" placeholder="Описание проекта" required minlength='10' formControlName='description'></textarea>
                        <mat-error *ngIf="description.hasError('required')">
                Обязательно введите описание проекта
            </mat-error> 
            <mat-error *ngIf="description.hasError('minlength') && !description.hasError('required')">
                Описание проекта должно быть больше {{ description.errors.minlength.requiredLength }} символов. Вы ввели {{ description.errors.minlength.actualLength
                }} символа
            </mat-error>
            <mat-error *ngIf="description.hasError('pattern')">
                Описание проекта содержит недопустимые символы. Допустимы буквы от А до Я (строчные и прописные), цифры от 0 до 9, знак тире
                (-), подчёркивания (_), запятой и пробела
            </mat-error>
        </mat-form-field> -->
    </mat-dialog-content>



    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Отмена</button>
        <button mat-raised-button color="primary" [disabled]="!addProjectForm.valid" type="submit">Добавить проект</button>
    </mat-dialog-actions>
</form>