<div class="upload-button-and-spinner-container">
  <p-fileUpload #fileUploader mode="basic" style="margin-right: 10px;" auto="auto" customUpload="true" (uploadHandler)="errorAttachmentUploader($event)"
  maxFileSize="30000000" chooseLabel="Прикрепить файлы" multiple="multiple"></p-fileUpload>
<mat-spinner *ngIf="isUploaded" diameter="30"></mat-spinner>
</div>
<mat-divider class="select-error-dialog-divider"></mat-divider>
<app-attachments #attachments [attachmentsService]="errorAttachSrv"></app-attachments>