<form [formGroup]='addUserForm' (ngSubmit)="addProjectUser()" novalidate>
  <h2 mat-dialog-title>
    Добавить пользователя к проекту
  </h2>
  <mat-dialog-content class="form-field-container">
    <mat-form-field>
      <input matInput type="email" placeholder="Адрес эл. почты" formControlName='Email' required [matAutocomplete]="autoExistsUser">
      <mat-autocomplete #autoExistsUser>
          <mat-option *ngFor="let Email of filteredUserEmails | async" [value]="Email">
            <mat-icon>person</mat-icon><span>{{ Email }}</span>
          </mat-option>
        </mat-autocomplete>
      <mat-error *ngIf="Email.hasError('required')">
        Обязательно введите адрес эл. почты
      </mat-error>
      <mat-error *ngIf="Email.hasError('Email') && !Email.hasError('required')">
        Неверный адрес эл. почты
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Роль пользователя" formControlName='RoleName' required>
        <mat-option *ngFor="let RoleName of roles" [value]="RoleName.value">
          {{ RoleName.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="RoleName.hasError('required')">
        Пожалуйста, выберите роль пользователя
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-raised-button color="primary" [disabled]="!addUserForm.valid" type="submit">Добавить</button>
  </mat-dialog-actions>
</form>