<form [formGroup]='loginForm' (ngSubmit)="login()" novalidate style="width: 50%; margin: auto;">
  <mat-card>
    <mat-card-header style="justify-content: space-between;">
      <img src="../../assets/logo.png" alt="Bug Tracker Logo" class="logo-img">
      <mat-card-title>
        <h3>Вход в систему</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="form-field-container" style="margin-top: 10px;">
      <mat-form-field>
        <input matInput type="email" placeholder="Адрес эл. почты" required formControlName='email'>
        <mat-error *ngIf="email.hasError('required')">
          Обязательно введите адрес электронной почты
        </mat-error>
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Неверный формат адреса электронной почты
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Пароль" required formControlName='password'>
        <mat-error *ngIf="password.hasError('required')">
          Обязательно введите пароль
        </mat-error>
      </mat-form-field>
      <app-captcha #captcha></app-captcha>
    </mat-card-content>

    <mat-card-actions align="start">
        <button mat-raised-button color="primary" [disabled]="!(this.loginForm.valid && this.captcha.isCaptchaChecked)" type="submit">Войти</button>
        <a mat-button routerLink="app/tariff-plans">Создать портал</a>
      </mat-card-actions>
  </mat-card>
</form>