<div class="card w-75 border-dark mx-auto mt-5">
  <div class="card-header">
    <div class="row">
      <div class="col d-flex align-items-center">
        <span class="align-middle h5">Вход в систему</span>
      </div>
      <div class="col-5 col-md-2 col-lg-2 col-xl-1">
        <img src="../../assets/logo.png" class="img-fluid" alt="Bug Tracker Logo">
      </div>
    </div>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="inputEmail">Адрес эл. почты</label>
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Введите email" autofocus required email
            [(ngModel)]='user.email'>
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword">Пароль</label>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Введите пароль" required [(ngModel)]='user.password'>
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <app-captcha #captcha></app-captcha>
      </div>
      <button type="submit" [class.disabled] = "!captcha.isCaptchaChecked" (click)='login(user);' class="btn btn-primary btn-block">Войти</button>
    </form>
  </div>
</div>