<h1>
  Пользователи проекта
</h1>
<mat-list>
  <mat-list-item *ngFor="let user of users">
    <img matListAvatar [src]="(user.Avatar != null) ? uri + user.Avatar : '../../../../../assets/person.png'">
    <strong matLine> {{user.Email}} </strong>
    <span matLine *ngIf="user.RoleName !== 'Admin'"> {{user.RoleName | viewRole }} </span>
    <strong matLine *ngIf="user.RoleName === 'Admin'">
      <b>{{user.RoleName | viewRole }}</b>
    </strong>
    <button *ngIf="user.RoleName !== 'Admin'" mat-icon-button matTooltip="Редактировать" (click)="openEditUserDialog(user)">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="user.RoleName !== 'Admin'" mat-icon-button matTooltip="Удалить" (click)="openDeleteUserDialog(user)">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>


<button *ngIf="authService.isPortalOwner" mat-fab class="mat-fab-buttom-right" (click)="openAddUserDialog()">
  <mat-icon>add</mat-icon>
</button>