<h1>
  Пользователи проекта
</h1>
<mat-list>
  <mat-list-item *ngFor="let user of users">
    <img matListAvatar [src]="(user.Avatar != null) ? uri + user.Avatar : '../../../../../assets/person.png'">
    <strong matLine> {{user.Email}} </strong>
    <span matLine> {{user.RoleName |  getRoleName }} </span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>


<mat-menu #menu>
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Редактировать</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Удалить</span>
  </button>
</mat-menu>

<button *ngIf="authService.isPortalOwner" mat-fab class="mat-fab-buttom-right" (click)="openAddUserDialog()">
  <mat-icon>add</mat-icon>
</button>