<div *ngIf="errors.length === 0" style="margin: 10% 0;">
  <span class="mat-h1">В проекте отсутствуют ошибки. Нажмите кнопку 'Добавить ошибку' для добавления ошибки</span>&nbsp;
  <button mat-raised-button color="accent" (click)="openAddErrorDialog()">Добавить ошибку</button>
</div>
<div class="mat-elevation-z5 table-container" [hidden]="!(errors.length > 0)">

  <div class="error-global-filter">
    <mat-form-field>
      <input matInput type="text" size="50" placeholder="Глобальный фильтр" (input)="errorsTable.filterGlobal($event.target.value, 'contains')">
    </mat-form-field>
  </div>


  <p-table #errorsTable [columns]="cols" [value]="errors" [paginator]="true" [rows]="5"  [responsive]="true" [scrollable]="true"
    scrollHeight="500px" [resizableColumns]="true" >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'Title'" pInputText type="text" (input)="errorsTable.filter($event.target.value, col.field, col.filterMatchMode)">
          <mat-select *ngSwitchCase="'EmailErrorAuthor'" placeholder="Все пользователи" multiple (selectionChange)="errorsTable.filter($event.value, col.field, 'in')">
            <mat-option *ngFor="let user of projectUsers" [value]="user.Email">
              {{user.Email | getUserNameFromEmail}}
            </mat-option>
          </mat-select>
          <!-- <div *ngSwitchCase="'DateCreation'">
            <input #inpCreation pInputText type="text" [matDatepicker]="creationDatepicker" (dateChange)="test($event, errorsTable, col)">
            <mat-datepicker-toggle matPrefix [for]="creationDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #creationDatepicker></mat-datepicker>
          </div> -->
          <mat-select *ngSwitchCase="'EmailErrorResponsible'" placeholder="Все пользователи" multiple (selectionChange)="errorsTable.filter($event.value, col.field, 'in')">
            <mat-option *ngFor="let worker of projectWorkers" [value]="worker.Email">
              {{worker.Email | getUserNameFromEmail}}
            </mat-option>
          </mat-select>
          <mat-select *ngSwitchCase="'Status'" placeholder="Все" multiple (selectionChange)="errorsTable.filter($event.value, col.field, 'in')">
            <mat-option *ngFor="let status of errorService.status" [value]="status.value">
              {{status.viewValue}}
            </mat-option>
          </mat-select>
          <mat-select *ngSwitchCase="'Priority'" placeholder="Все" multiple (selectionChange)="errorsTable.filter($event.value, col.field, 'in')">
            <mat-option *ngFor="let priority of errorService.priorities" [value]="priority.value">
              {{priority.viewValue}}
            </mat-option>
          </mat-select>
          <mat-select *ngSwitchCase="'Classification'" placeholder="Все" multiple (selectionChange)="errorsTable.filter($event.value, col.field, 'in')">
            <mat-option *ngFor="let classification of errorService.classification" [value]="classification.value">
              {{classification.viewValue}}
            </mat-option>
          </mat-select>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-error>
      <tr [pSelectableRow]="error">
        <td><a href="#" (click)="openErrorDialog(error)">{{ (error.Title.length > 10) ? (error.Title | slice:0:10)+'...' : (error.Title) }}</a></td>
        <td>{{ error.EmailErrorAuthor | getUserNameFromEmail }}</td>
        <td>{{ error.DateCreation | date:'longDate' }}</td>
        <td>
          <mat-select [value]="error.EmailErrorResponsible ? error.EmailErrorResponsible : ''" (selectionChange)="selectionChangeErrorResponsible(error.Id, $event)">
            <mat-option value=""> Не назначен </mat-option>
            <mat-option *ngFor="let worker of projectWorkers" [value]="worker.Email">
              {{worker.Email | getUserNameFromEmail}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          <mat-form-field style="width: 95%;">
            <input matInput style="color: black;" [min]="error.DateCreation" [matDatepicker]="deadlineDatepicker" disabled [value]="error.Deadline"
              (dateChange)="changeDeadline(error.Id, $event)">
            <mat-datepicker-toggle matSuffix [for]="deadlineDatepicker"></mat-datepicker-toggle>

            <mat-datepicker #deadlineDatepicker disabled="false"></mat-datepicker>


          </mat-form-field>
        </td>
        <td>
          <mat-select [value]="error.Status" (selectionChange)="changeErrorStatus(error.Id, $event)">
            <mat-option *ngFor="let status of errorService.status" [value]="status.value">
              {{status.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          <mat-select [value]="error.Priority" (selectionChange)="changeErrorPriority(error.Id, $event)">
            <mat-option *ngFor="let priority of errorService.priorities" [value]="priority.value">
              {{priority.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          <mat-select [value]="error.Classification" (selectionChange)="changeErrorClassification(error.Id, $event)">
            <mat-option *ngFor="let classification of errorService.classification" [value]="classification.value">
              {{classification.viewValue}}
            </mat-option>
          </mat-select>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <button mat-fab class="mat-fab-buttom-right" (click)="openAddErrorDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>