.error-global-filter {
    min-height: 64px;
    padding: 12px 24px 0;
    background: white;
  }

  .error-global-filter>mat-form-field {
    width: 100%;
  }



  @media only all {
    th.ui-p-6,
    td.ui-p-6,
    th.ui-p-5,
    td.ui-p-5,
    th.ui-p-4,
    td.ui-p-4,
    th.ui-p-3,
    td.ui-p-3,
    th.ui-p-2,
    td.ui-p-2,
    th.ui-p-1,
    td.ui-p-1 {
        display: none;
    }
}

@media screen and (min-width: 320px) {
    th.ui-p-1,
    td.ui-p-1 {
        display: table-cell;
    }
}

/* Show priority 2 at 480px */
@media screen and (min-width: 480px) {
    th.ui-p-2,
    td.ui-p-2 {
        display: table-cell;
    }
}

@media screen and (min-width: 1024px) {
    th.ui-p-3,
    td.ui-p-3 {
        display: table-cell;
    }
}

@media screen and (min-width: 800px) {
    th.ui-p-4,
    td.ui-p-4 {
        display: table-cell;
    }
}

@media screen and (min-width: 1350px) {
    th.ui-p-5,
    td.ui-p-5 {
        display: table-cell;
    }
}

@media screen and (min-width: 1120px) {
    th.ui-p-6,
    td.ui-p-6 {
        display: table-cell;
    }
}