<mat-form-field>
  <mat-select placeholder="Статус ошибки" [formControl]="status" required (selectionChange)="selectChange($event.value)">
    <mat-select-trigger>
      <span class="status-select-{{statusSelectItemsService.getColor(status.value)}}">&nbsp;&nbsp;&nbsp;</span> {{statusSelectItemsService.getViewValue(status.value)}}
    </mat-select-trigger>
    <mat-option *ngFor="let status of statusSelectItemsService.Statuses" [value]="status.value">
      <span class="status-select-{{status.color}}">&nbsp;&nbsp;&nbsp;</span> {{status.viewValue}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="status.hasError('required')">
    Обязательно укажите статус ошибки
  </mat-error>
</mat-form-field> 