<mat-form-field>
  <input matInput type="text" placeholder="Название ошибки" required [formControl]='title'>
  <mat-error *ngIf="title.hasError('required')">
    Обязательно введите название ошибки
  </mat-error>
  <mat-error *ngIf="title.hasError('pattern')">
    Название ошибки содержит недопустимые символы. Допустимы буквы от А до Я (строчные и прописные), цифры от 0 до 9, знак тире
    (-), подчёркивания (_) и пробела
  </mat-error>
  <mat-error *ngIf="title.hasError('minlength') && !title.hasError('pattern')">
    Название ошибки должно быть больше {{ title.errors.minlength.requiredLength }} символов. Вы ввели {{ title.errors.minlength.actualLength
    }} символа
  </mat-error>
  <mat-error *ngIf="title.hasError('maxlength') && !title.hasError('pattern')">
    Название ошибки должно быть меньше {{title.errors.maxlength.requiredLength }} символов
  </mat-error>
</mat-form-field>