<form [formGroup]='addPortalForm' (ngSubmit)="addPortal()" novalidate>
  <h2 mat-dialog-title>Создать портал и начать работу с Bug Tracker</h2>

  <mat-dialog-content class="form-field-container">
    <mat-form-field hintLabel="Название портала должно быть уникальным">
      <input matInput type="text" placeholder="Название портала" required minlength='3' maxlength="100" formControlName='title'>
      <mat-error *ngIf="title.hasError('required')">
        Обязательно введите название портала
      </mat-error>
      <mat-error *ngIf="title.hasError('pattern')">
        Название портала содержит недопустимые символы. Допустимы буквы от А до Я (строчные и прописные), цифры от 0 до 9, знак тире
        (-), подчёркивания (_) и пробела
      </mat-error>
      <mat-error *ngIf="title.hasError('minlength') && !title.hasError('pattern')">
        Название портала должно быть больше {{ title.errors.minlength.requiredLength }} символов. Вы ввели {{ title.errors.minlength.actualLength
        }} символа
      </mat-error>
      <mat-error *ngIf="title.hasError('maxlength') && !title.hasError('pattern')">
        Название портала должно быть меньше {{title.errors.maxlength.requiredLength }} символов
      </mat-error>
      <mat-error *ngIf="title.hasError('portalTitleNotTaken')">
        {{title.errors.portalTitleNotTaken}}
      </mat-error>
    </mat-form-field>


    <div formGroupName="Owner">
      <mat-form-field>
        <input matInput type="email" placeholder="Адрес эл. почты" formControlName='email' required>
        <mat-error *ngIf="email.hasError('required')">
          Обязательно введите адрес эл. почты
        </mat-error>
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Неверный адрес эл. почты
        </mat-error>
        <mat-error *ngIf="email.hasError('emailNotTaken') && !email.hasError('required')">
          {{email.errors.emailNotTaken}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Пароль" formControlName='password' required>
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="pointerCursor">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="password.hasError('required')">
          Обязательно введите пароль
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [type]="hidePConfirm ? 'password' : 'text'" placeholder="Подтвердите пароль" formControlName='confirmPassword'
          required>
        <mat-icon matSuffix (click)="hidePConfirm = !hidePConfirm" class="pointerCursor">{{hidePConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="confirmPassword.hasError('required')">
          Обязательно введите подтверждение пароля
        </mat-error>
        <mat-error *ngIf="confirmPassword.hasError('equalpassword') && !confirmPassword.hasError('required')">
          {{confirmPassword.errors.equalpassword}}
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-raised-button color="primary" [disabled]="!addPortalForm.valid" type="submit">Создать портал</button>
  </mat-dialog-actions>
</form>