<div *ngIf="solution == null">
  Решение не найдено.
  <br> Зарегистрируйте решение для ошибки.
  <br>
  <button mat-button (click)="addSolutionDialog()">Добавить решение</button>
</div>
<div *ngIf="solution != null">
  <mat-card style="padding: 0; " class="mat-elevation-z0">
    <mat-card-header>
      <img mat-card-avatar src="../../../../../assets/person.png">
      <mat-card-title>от {{solution.Author.Email | getUserNameFromEmail}}</mat-card-title>
      <mat-card-subtitle>в {{solution.RecievingDate | localDateFromUtc}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <quill-editor [ngModel]="solution.Description" [style]="{'height': '200px'}" [readOnly]="true" [modules]="{toolbar: false}">
      </quill-editor>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="updateSolutionDialog()">Редактировать</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider class="select-error-dialog-divider"></mat-divider>
  <app-attachments #attachments [attachmentsService]="slnAttachSrv"></app-attachments>
</div>