<form [formGroup]='editErrorForm' novalidate>
  <div mat-dialog-title class="error-dialog-header">
    <mat-form-field style="width: 100%;">
      <input matInput type="text" (change)="updateError(errorListSharedService.updateTitle, $event.target.value)" placeholder="Название ошибки"
        required minlength='3' maxlength='100' formControlName='Title' [readonly]="errorListSharedService.isDisabledErrorTitleAndDescription(error)">
      <mat-error *ngIf="title.hasError('required')">
        Обязательно введите название ошибки
      </mat-error>
      <mat-error *ngIf="title.hasError('pattern')">
        Название ошибки содержит недопустимые символы. Допустимы буквы от А до Я (строчные и прописные), цифры от 0 до 9, знак тире
        (-), подчёркивания (_) и пробела
      </mat-error>
      <mat-error *ngIf="title.hasError('minlength') && !title.hasError('pattern')">
        Название ошибки должно быть больше {{ title.errors.minlength.requiredLength }} символов. Вы ввели {{ title.errors.minlength.actualLength
        }} символа
      </mat-error>
      <mat-error *ngIf="title.hasError('maxlength') && !title.hasError('pattern')">
        Название ошибки должно быть меньше {{title.errors.maxlength.requiredLength }} символов
      </mat-error>
    </mat-form-field>
    <span class="dialog-title-text">Создана пользователем
      <b>{{error.EmailAuthor}} {{error.DateCreation | date:'longDate'}}</b>
    </span>
    <br>
    <span class="dialog-title-text" [matTooltip]="errorListSharedService.Project.Title">Проект:
      <b>{{errorListSharedService.Project.Title}}</b>
    </span>
    <button mat-icon-button (click)="close()" matTooltip="Закрыть" class="error-dialog-close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="form-field-container">
    <mat-accordion>
      <mat-expansion-panel (closed)="viewQuill = false">
        <mat-expansion-panel-header style="background-color: gainsboro;">
          <mat-panel-title>
            Описание ошибки
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="margin: 0 -24px -16px;">
          <div *ngIf="(description.value == '' || description.value == null)  && !viewQuill">
            Описание ошибки отсутствует.
            <button mat-raised-button color="primary" (click)="viewQuill = true">
              Добавить описание
            </button>
          </div>

          <quill-editor [style.display]="viewQuill || (description.value == null || description.value == '') ? 'none' : 'block'" formControlName="Description"
            [style]="{'height': '200px'}" [readOnly]="true" [modules]="{toolbar: false}">
          </quill-editor>

          <quill-editor [style.display]="viewQuill ? 'block' : 'none'" formControlName="Description" placeholder="Введите описание ошибки"
            [style]="{'height': '200px'}" (onContentChanged)="contentChange($event);" [modules]="quillEditorConfig.getToolbarConfig">
          </quill-editor>
        </div>


        <mat-action-row>
          <button mat-raised-button color="primary" *ngIf="viewQuill" style="margin-right: 10px;" (click)="updateError(errorListSharedService.updateDescription, quillEditorHtmlContent); description.setValue(quillEditorHtmlContent != '' ? quillEditorHtmlContent : null);  viewQuill = false;">Сохранить</button>
          <button mat-raised-button *ngIf="viewQuill" (click)="viewQuill = false; description.setValue(oldQuillHtmlContent);">Отмена</button>
          <button mat-icon-button *ngIf="(description.value != '' && description.value != null)  && !viewQuill" matTooltip="Редактировать описание"
            (click)="viewQuill = true; oldQuillHtmlContent = description.value;">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header style="background-color: gainsboro;">
          <mat-panel-title>
            Сведения об ошибке
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="info-error-flex-container">
          <div style="width: 48%" class="form-field-container">
            <mat-form-field>
              <mat-select placeholder="Ответственный за ошибку" formControlName="EmailAssignee" (selectionChange)="updateError(errorListSharedService.updateAssignee, $event.value == 'null' ? null : $event.value)">
                <mat-option value="null"> Не назначен </mat-option>
                <mat-option *ngFor="let worker of errorListSharedService.ProjectWorkers" [value]="worker.Email">
                  {{worker.Email | getUserNameFromEmail}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="emailAssignee.hasError('required')">
                Выберите сотрудника, ответственного за решение ошибки
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Статус ошибки" formControlName="Status" required (selectionChange)="updateError(errorListSharedService.updateStatus, $event.value)">
                <mat-select-trigger>
                  <span class="status-select-{{statusSelectItemsService.getColor(status.value)}}">&nbsp;&nbsp;&nbsp;</span> {{statusSelectItemsService.getViewValue(status.value)}}
                </mat-select-trigger>
                <mat-option *ngFor="let status of statusSelectItemsService.Statuses" [value]="status.value">
                  <span class="status-select-{{status.color}}">&nbsp;&nbsp;&nbsp;</span> {{status.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="status.hasError('required')">
                Обязательно укажите статус ошибки
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput [min]="error.DateCreation" [matDatepicker]="deadlineDatepicker" placeholder="Срок выполнения" formControlName='Deadline'
                (dateChange)="updateError(errorListSharedService.updateDeadline, $event.value)">
              <mat-datepicker-toggle matSuffix [for]="deadlineDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #deadlineDatepicker></mat-datepicker>
              <mat-error *ngIf="deadline.hasError('required') && !deadline.hasError('matDatepickerParse')">
                Обязательно введите срок выполнения ошибки
              </mat-error>
              <mat-error *ngIf="deadline.hasError('matDatepickerParse')">
                Неправильная дата
              </mat-error>
            </mat-form-field>
          </div>
          <div style="width: 48%" class="form-field-container">


            <mat-form-field>
              <mat-select placeholder="Приоритет ошибки" formControlName="Priority" required (selectionChange)="updateError(errorListSharedService.updatePriority, $event.value)">
                <mat-option *ngFor="let priority of prioritySelectItemsService.Priorities" [value]="priority.value">
                  {{priority.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="priority.hasError('required')">
                Обязательно укажите приоритет ошибки
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Классификация ошибки" formControlName="Classification" required (selectionChange)="updateError(errorListSharedService.updateClassification, $event.value)">
                <mat-option *ngFor="let classification of classificationSelectItemsService.Classifications" [value]="classification.value">
                  {{classification.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="classification.hasError('required')">
                Обязательно укажите классификацию ошибки
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-tab-group style="margin-top: 30px;">
      <mat-tab label="ВЛОЖЕНИЯ">  
            <app-error-attachments [errorId]="error.ErrorId"></app-error-attachments>
      </mat-tab>
      <mat-tab label="РЕШЕНИЕ">
       <app-solution [error]="error"></app-solution>
        <!-- <button mat-raised-button *ngIf="error.Solution?.Description == ''" (click)="openSolutionErrorDialog()">Добавить решение</button> -->
        <!-- <span *ngIf="errorSolution?.Description != ''"></span> -->
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
</form>