<mat-toolbar class="mat-toolbar-single-row" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="flex: 1 1 auto;">Проекты</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>add</mat-icon>
            <span>Добавить проект</span>
        </button>
    </mat-menu>
    <!-- <img mat-card-image src="../../assets/logo.png" alt="Bug Tracker Logo" height="40" width="60"> -->
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">Sidenav content</mat-sidenav>
    <mat-sidenav-content style="padding: 10px;">
        <mat-card>
            <mat-card-content>
                <mat-table [dataSource]=dataSource>
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef> Название проекта </mat-header-cell>
                        <mat-cell *matCellDef="let project"> {{ project.Title }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="countError">
                        <mat-header-cell *matHeaderCellDef> Ошибки </mat-header-cell>
                        <mat-cell *matCellDef="let project"> {{ 1 }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="dateStart">
                        <mat-header-cell *matHeaderCellDef> Дата начала </mat-header-cell>
                        <mat-cell *matCellDef="let project"> {{ project.DateStart | date:"dd/MM/yyyy" }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="dateEnd">
                        <mat-header-cell *matHeaderCellDef> Дата окончания </mat-header-cell>
                        <mat-cell *matCellDef="let project"> {{ project.DateEnd | date:"dd/MM/yyyy" }} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let projectRowData; columns: displayedColumns"></mat-row>
                </mat-table>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- <form [formGroup]='addProjectForm' (ngSubmit)="addProject()" novalidate>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Новый проект
            </mat-panel-title>
        </mat-expansion-panel-header>


        <mat-form-field>
            <input matInput type="text" name="projectName" id="projectNameInput" placeholder="Введите название проекта" required minlength='3'
                formControlName='title'>
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
                <div *ngIf="title.errors.required">
                    Обязательно введите название проекта
                </div>
                <div *ngIf="title.errors.minlength">
                    Название проекта должно быть больше {{ title.errors.minlength.requiredLength }} символов
                </div>
            </div>
        </mat-form-field>

        <mat-form-field formGroupName="datepickerGroup">
            <mat-form-field>
                <input [matDatepicker]="myDatepicker" placeholder="Дата начала">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <div *ngIf="dateStart.invalid && (dateStart.dirty || dateStart.touched)" class="text-danger">
                    <div *ngIf="dateStart.errors.required">
                        Обязательно введите дату начала проекта
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field>
                <input [matDatepicker]="myDatepicker" placeholder="Дата окончания">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <div *ngIf="dateStart.invalid && (dateStart.dirty || dateStart.touched)" class="text-danger">
                    <div *ngIf="dateStart.errors.required">
                        Обязательно введите дату начала проекта
                    </div>
                </div>
            </mat-form-field>
            <div *ngIf="datepickerGroup.invalid && (datepickerGroup.dirty || datepickerGroup.touched)" class="text-danger">
                <div *ngIf="datepickerGroup.errors.date">
                    date {{datepickerGroup.errors.date.messageError}}}
                </div>
            </div>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput class="form-control" name="projectDesc" id="descriptionProjectTextarea" rows="5" placeholder="Введите описание проекта"
                required minlength='10' formControlName='description'></textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">
                <div *ngIf="description.errors.required">
                    Обязательно введите описание проекта
                </div>
                <div *ngIf="description.errors.minlength">
                    Описание проекта должно быть больше {{ description.errors.minlength.requiredLength }} символов
                </div>
            </div>
        </mat-form-field>



        <div class="form-group">
            <label for="descriptionProjectTextarea">Описание проекта</label>

        </div>
        <button type="submit" class="btn btn-raised btn-success">Добавить проект</button>
        <button type="reset" data-toggle="collapse" data-target="#collapseNewProject" class="btn btn-raised btn-warning ml-3">Отмена</button>
        <mat-action-row>
            <button mat-button type="submit">Добавить проект</button>
        </mat-action-row>

        <mat-action-row>
            <button mat-button type="reset">Отмена</button>
        </mat-action-row>



    </mat-expansion-panel>
</form> -->

<!-- <div class="row mt-3">
    <div class="col">
        <button type="button" data-toggle="collapse" data-target="#collapseNewProject" class="btn btn-raised btn-primary btn-block">
            Новый проект
        </button>
    </div>
</div>
<div class="collapse" id="collapseNewProject">
    <div class="card card-body bg-light">
        <form [formGroup]='addProjectForm' (ngSubmit)="addProject()" novalidate>
            <mat-form-field>
                <input matInput type="text" name="projectName" id="projectNameInput" placeholder="Введите название проекта" required minlength='3'
                    formControlName='title'>
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
                    <div *ngIf="title.errors.required">
                        Обязательно введите название проекта
                    </div>
                    <div *ngIf="title.errors.minlength">
                        Название проекта должно быть больше {{ title.errors.minlength.requiredLength }} символов
                    </div>
                </div>
            </mat-form-field>
            <div class="form-group form-row" formGroupName="datepickerGroup">
                <div class="form-group col">
                    <label for="projectNameInput">Дата начала</label>
                    <input [matDatepicker]="myDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                    <div *ngIf="dateStart.invalid && (dateStart.dirty || dateStart.touched)" class="text-danger">
                        <div *ngIf="dateStart.errors.required">
                            Обязательно введите дату начала проекта
                        </div>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="projectNameInput">Дата окончания</label>

                </div>
                <div *ngIf="datepickerGroup.invalid && (datepickerGroup.dirty || datepickerGroup.touched)" class="text-danger">
                    <div *ngIf="datepickerGroup.errors.date">
                        date {{datepickerGroup.errors.date.messageError}}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="descriptionProjectTextarea">Описание проекта</label>
                <textarea class="form-control" name="projectDesc" id="descriptionProjectTextarea" rows="5" placeholder="Введите описание проекта"
                    required minlength='10' formControlName='description'></textarea>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">
                    <div *ngIf="description.errors.required">
                        Обязательно введите описание проекта
                    </div>
                    <div *ngIf="description.errors.minlength">
                        Описание проекта должно быть больше {{ description.errors.minlength.requiredLength }} символов
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-raised btn-success">Добавить проект</button>
            <button type="reset" data-toggle="collapse" data-target="#collapseNewProject" class="btn btn-raised btn-warning ml-3">Отмена</button>
        </form>
    </div>
</div> -->